node_modules/
.env
.env.development
.env.local
m/
 
# Applications
*.app
*.exe
*.war
*.txt
*.mp3
*.wav
*.ogg
*.aac
*.flac
*.m4a
*.m3u8
 
# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
 
# Image and document files
*.jpg
*.jpeg
*.pdf
*.png
*.webp
 